<h2>Familias</h2>

@if(familias()){
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Familia</th>
            </tr>
        </thead>
        <tbody>
            @for(familia of familias(); track familia.id){
            <tr>
                <td>{{familia.id}}</td>
                <td>{{familia.nombre}}</td>
            </tr>
            }
        </tbody>
    </table>
} @else {
    <p>Esperando familias</p>
} 

@if(error()){
    <p>Error! Algo pasa....</p>
}