<h2>Establecimientos</h2>

@if(establecimientos()){
    
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Teléfono</th>
                <th>Provincia</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            @for(establecimiento of establecimientos(); track establecimiento.nombre){
            <tr>
                <td>{{establecimiento.nombre}}</td>
                <td>{{establecimiento.telefono}}</td>
                <td>{{establecimiento.provincia}}</td>
                <td>{{establecimiento.email}}</td>
            </tr>
            }
        </tbody>
    </table>      
} @else {
    <p>Cargando establecimientos...</p>
} 

@if(error()){
    <p>Error! Algo pasa....</p>
}