<h2>Productos</h2>

@if(productos()){
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Fecha de Alta</th>
                <th>Familia</th>
                <th>Precio</th>
                <th>Descatalogado</th>
            </tr>
        </thead>
        <tbody>
            @for(producto of productos(); track producto.id){
                <tr>
                    <td>{{ producto.id }}</td>
                    <td>{{ producto.nombre }}</td>
                    <td>{{ producto.fechaAlta | date:'dd/MM/yyyy' }}</td>
                    <td>{{ producto.familia.nombre }}</td>
                    <td>{{ producto.precio }}</td>
                    <td class="descatalogado">{{ producto.descatalogado | descatalogado }} </td>
                </tr>
            }
        </tbody>
    </table> 
} @else {
    <p>No hay productos</p>
} 

@if(error()){
    <p>Error! Algo pasa....</p>
}
