<h2>{{ titulo }}</h2>

<p>contador: {{ contador() }}</p>
<p>contadorDoble: {{ contadorDoble() }}</p>
<p>contadorSoloLectura: {{ contadorSoloLectura() }}</p>
<p>contadorLinkedSignal: {{ contadorLinkedSignal() }}</p>

<p>usuario: {{ usuario() | json}}</p>

<hr>

<button (click)="incrementarContador()">Incrementar Contador</button><br>
<button (click)="resetContador()">Resetear Contador</button><br>
<button (click)="incrementarContadorLinkedSignal()">Incrementar ContadorLinkedSignal</button><br>       
<button (click)="resetearContadorLinkedSignal()">Resetear ContadoLinkedSignal</button><br><br><br><br>

<button (click)="cambiarEdadUsuario()">Cambiar Edad</button><br>
